body {
    background-image: none;
    color:indigo;
    text-align: center;
}
ul{
    list-style-type: decimal;
    text-align: left;
}
.hidden{
    display: none;
    
}
.show{
    display:inline;
}
input:invalid {
    border: 1px solid rgb(123, 237, 52);
}
.quote{
    color: palevioletred;
}
.fault{
    border: 1px solid red;
}
.clock{
    font-size: 50px;
    
}
header {
    height: 200px;
}
main {
    min-height: 200px;
}
footer {
    height: 200px;
}
