body {
    background-image: none;
    color:indigo;
    text-align: center;
    background-repeat : no-repeat;
    background-position: center;
}
ul{
    list-style-type: decimal;
    /*text-align: left;*/
    text-align: center;
}
.hidden{
    display: none;
    
}
.show{
    display:inline;
}
input:invalid {
    border: 1px solid rgb(123, 237, 52);
}
.quote{
    color: palevioletred;
}
.fault{
    border: 1px solid red;
}
.clock{
    font-size: 50px;
    
}
header {
    height: 200px;
}
main {
    min-height: 200px;
}
footer {
    height: 200px;
}

.main-div-out {
    position: relative;
    margin: 0 auto;
    width: 420px;
}

.main-div-in {
    width: 100%;
    margin: 0 auto;
}

.main-ul-out {
    position: relative;
    margin: 0 auto;
    width: 445px;
}

.main-ul-in {
    width: 100%;
    margin: 0 auto;
}


#todo-list span{
    float: left;
}


.main-button-out {
    padding-right : 12px;
    margin: 0 auto;
}

.main-button-in {
    margin: 0 auto;
    float: right;
}